.experiencemain {
    margin-top: 5rem;
}

.border3 {
    border: 3px solid #F56539;
    width: 90%;
    margin: 3rem auto;
    border-radius: 10px;
}


.experience1 {
    background-color: #773622;
    display: flex;
    padding: 1rem;
    width: 30rem;

}